* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f7fa;
  display: flex;
  height: 100vh;
  color: #333;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #333;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #45a049;
  width: 100%;
}

.dashboard {
  display: flex;
  width: 100%;
}
/* Sidebar styling */
.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.sidebar h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.sidebar nav ul {
  list-style: none;
}

.sidebar nav ul li {
  margin: 15px 0;
}

.sidebar nav ul li a {
  color: #ccc;
  text-decoration: none;
  font-size: 1.1em;
  display: block;
  padding: 10px;
  border-radius: 4px;
  transition: background 0.3s;
}

.sidebar nav ul li a.active,
.sidebar nav ul li a:hover {
  background: #575757;
  color: #fff;
}

/* Main content area */
.content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
  margin-top: 5em;
  width: 100%;
  position: relative;
}

.content h2 {
  font-size: 1.7em;
  margin-bottom: 20px;
  color: #333;
}

.dashboard-header {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  left: 260px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--text-color);
  padding: 20px;
  border-radius: 5px;
  width: 80%;
}

.dashboard-header h1 {
  margin: 0;
  font-size: 24px;
}

.dashboard-header .user-info {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dashboard-header .user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.section {
  display: none;
}

.section.active {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin: 10px 0 5px;
}

form input,
form textarea,
button,
.logout {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

input[type="submit"],
button,
.logout {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover,
.logout:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  margin-bottom: 100px;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #0004;
}

th,
td {
  border: 1px solid #0004;
  padding: .5em;
  text-align: center;
}

th {
  background-color: #45a049;
  color: white;
}

.td {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  border: none;
  border-top: 1px solid #0004;
}

.edit-exp-btn,
.delete-exp-btn {
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: .3em .5em;
}

.edit-exp-btn {
  background-color: #45a049;
}

.delete-exp-btn {
  background-color: #910;
}

img {
  border-radius: 8px;
}

input[type="file"] {
  padding: 0;
  cursor: pointer;
}

::-webkit-file-upload-button {
  padding: .8em;
  border: none;
  background-color: #45a049;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
